.header {
  padding: 4.5rem 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-700);
}

@media (max-width: 768px) {
  .header {
    padding: 2.5rem 0 3.6875rem;
  }
}

.header img {
  display: block;
  width: 7.875rem;
}
